@charset "utf-8";
body{
    background-image:url("dン路.jpg");
    background-size: 120%;
    background-position:center bottom 75%;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: lighten;
    background-attachment: fixed;
}
h4{
    color:aqua;
    font-size: 70px;
    text-align: center;
}
h5{
    color:aqua;
    font-size:70px;
    text-align: center;
}
.tabs {
   margin-top: 50px;
   padding-bottom: 40px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: 700px;
   margin: 0 auto;}
.tab_item {
    width: calc(100%/4);
    height: 50px;
    border-bottom: 3px solid yellowgreen;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    font-weight: bold;
    transition: all 0.2s ease;
}
.subTabs {
    display: none;
}
.tab_item:hover {
    opacity:0.75;
}
input[name="tab_item"], input[name="subTabs_item"] {
    display: none;
}
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: scroll;
}

#Graph {
    margin: auto;
}

#waitingtime:checked ~ #waitingtime_content,
#map:checked ~ #map_content,
#brochure:checked ~ #brochure_content,
#lostThing:checked ~ #lostThing_content {
    display: block;
}


.tabs input:checked + .tab_item {
    background-color: yellowgreen;
    color: white;
}

