@charset "utf-8";
body{
    background-image:url("dン路.jpg");
    background-size: 100%;
    background-position:left 350px bottom 60%;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: lighten;
    background-attachment: fixed;
    font-family: serif;
}
header{
    width: 100%;
    height:200px;
    background: url(段落テキスト.png);
    text-align: center;
}
.header_text2 {
    width: 700px;
    height: 65px;
    background-color: slategrey;
    text-align: center; 
}



.tabs {
   margin-top:100px;
   padding-bottom: 100%;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: 700px;
   box-align: left;
   margin:10px;
   margin-bottom: 0px;
}
.tab_item {
    width: calc(100%/5);
    height: 50px;
    padding-bottom:0%;
    padding-top:0%;
    border-bottom: 3px solid yellowgreen;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_item:hover {
    opacity:0.75;
}
input[name="tab_item"], input[name="subTabs_item"] {
    display: none;
}
.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: scroll;
}

#Graph {
    margin: auto;
}

#top-page:checked ~ #top-page_content,
#waitingtime:checked ~ #waitingtime_content,
#map:checked ~ #map_content,
#brochure:checked ~ #brochure_content,
#lostThing:checked ~ #lostThing_content {
    display: block;
}


.tabs input:checked + .tab_item {
    background-color: yellowgreen;
    color: white;
}
#classes{
    font-size: 25px;
    color:black;
    background-color:silver;
}

#classes_value:hover{
    opacity:0.5;
    color:white;
}

#nav ul {
    list-style-type: none;
    text-align:center;
}

#nav ul li {
    display: inline-block;
    width: 700px;
    height: 20px;
    padding: 0px 0;
    margin-top: 0;
    margin-left:-80px;
    margin-bottom: 200px;
    vertical-align: middle;
    background-color: skyblue;
    font-weight: bold;
    color:white;
}




footer {
    width: 100%;
    height:470px;
    background: url(社畜.png);
    background-position:auto;
    background-size:cover;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}



